WebContent/projet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"><xs:element name="Result"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="LIEN_VEHICULE_POTENTIEL_VIEW"><xs:complexType><xs:sequence><xs:element name="VALEUR" type="xs:decimal"/><xs:element name="NOM_POTENTIEL" type="xs:string"/><xs:element name="DATE_RELEVE" type="xs:date"/></xs:sequence></xs:complexType></xs:element></xs:sequence><xs:attribute name="query" type="xs:string"/></xs:complexType></xs:element></xs:schema>